<tmh-widget-top-image image="'bmw_full2.jpg'" overlay-text="'About Me'" overlay-style="{'color':'#ffffff', 'background-color': '#216dbb'}"></tmh-widget-top-image>
<div class='container'>
    <div class="row">
        <div class="col-md-4">
            <img style="display: block; margin: auto;" src="assets/img/this_is_me.png"><br>
            <img style="display: block; margin: auto;" class="img-circle img-thumbnail" src="assets/img/140_head.jpg">
        </div> 
        <div class="col-md-8">
            <div style="height: 50px"></div>
            <p>I wish I could say that was me in the Telmex BMW there, but it ain't.  I did take the photo however.  In fact, I took all of the photos
                that you see on this site.</p>
        </div>
    </div>
    
    
    
    <div class="row">
        <div class="col-md-4">
            <img style="display: block; margin: auto;" src="assets/img/this_is_me.png"><br>
            <img style="display: block; margin: auto;" class="img-circle img-thumbnail" src="assets/img/140_head.jpg">
        </div> 
        <div class="col-md-8">
            <div style="height: 50px"></div>
            <p>I wish I could say that was me in the Telmex BMW there, but it ain't.  I did take the photo however.  In fact, I took all of the photos
                that you see on this site.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img style="display: block; margin: auto;" src="assets/img/this_is_me.png"><br>
            <img style="display: block; margin: auto;" class="img-circle img-thumbnail" src="assets/img/140_head.jpg">
        </div> 
        <div class="col-md-8">
            <div style="height: 50px"></div>
            <p>I wish I could say that was me in the Telmex BMW there, but it ain't.  I did take the photo however.  In fact, I took all of the photos
                that you see on this site.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img style="display: block; margin: auto;" src="assets/img/this_is_me.png"><br>
            <img style="display: block; margin: auto;" class="img-circle img-thumbnail" src="assets/img/140_head.jpg">
        </div> 
        <div class="col-md-8">
            <div style="height: 50px"></div>
            <p>I wish I could say that was me in the Telmex BMW there, but it ain't.  I did take the photo however.  In fact, I took all of the photos
                that you see on this site.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img style="display: block; margin: auto;" src="assets/img/this_is_me.png"><br>
            <img style="display: block; margin: auto;" class="img-circle img-thumbnail" src="assets/img/140_head.jpg">
        </div> 
        <div class="col-md-8">
            <div style="height: 50px"></div>
            <p>I wish I could say that was me in the Telmex BMW there, but it ain't.  I did take the photo however.  In fact, I took all of the photos
                that you see on this site.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img style="display: block; margin: auto;" src="assets/img/this_is_me.png"><br>
            <img style="display: block; margin: auto;" class="img-circle img-thumbnail" src="assets/img/140_head.jpg">
        </div> 
        <div class="col-md-8">
            <div style="height: 50px"></div>
            <p>I wish I could say that was me in the Telmex BMW there, but it ain't.  I did take the photo however.  In fact, I took all of the photos
                that you see on this site.</p>
        </div>
    </div>    
</div>
