<tmh-widget-top-image image="'bmw_full2.jpg'" overlay-text="'About Me'" overlay-style="{'color':'#ffffff', 'background-color': '#216dbb'}"></tmh-widget-top-image>
<div class='container'>
    <div class="row" style="margin-bottom: 40px">
        <div class="col-md-4">
            <img style="display: block; margin: auto;" ng-src="{{imageRoot}}this_is_me.png"><br>
            <img style="display: block; margin: auto;" class="img-circle img-thumbnail" ng-src="{{imageRoot}}140_head.jpg">
        </div> 
        <div class="col-md-8">
            <div style="height: 50px"></div>
            <p>I wish I could say that was me in the Telmex BMW there, but ain't.  I did take the photo however.  In fact I took all of the photos
                that you see on this site.</p>
            <p>I've been described as equal parts computer nerd and people person.  When I get sick of people, I go tinker with my computer.  When I've
                had enough of that, I go back to being around people.  And I've never once been described as "artistically
            gifted" so when it comes to the prettiness of this site...cut me some slack.</p>
            <p>
                This page is a brief insight into the personal me and I've included a few pictures (below) as I feel they refect a lot of who I am and
                what I enjoy doing, but if you have any further questions feel free to ask.
           </p>
           <p>
                               Thanks!
           </p>
        </div>
    </div>
    <h2><i class="fa fa-camera"></i> Photos</h2>
    <hr style="border-top: 1px solid #000;">
    <div class="row">
    <tmh-widget-image-block ng-repeat="info in blockInfos" info="info"></tmh-widget-image-block>
    </div>
</div>
