<tmh-widget-top-image image="'bmw_full2.jpg'" overlay-text="'About Me'" overlay-style="{'color':'#ffffff', 'background-color': '#216dbb'}"></tmh-widget-top-image>
<div class='container'>
    <div class="row" style="margin-bottom: 40px">
        <div class="col-md-4">
            <img style="display: block; margin: auto;" ng-src="{{imageRoot}}this_is_me.png"><br>
            <img style="display: block; margin: auto;" class="img-circle img-thumbnail" ng-src="{{imageRoot}}140_head.jpg">
        </div> 
        <div class="col-md-8">
            <div style="height: 50px"></div>
            <p>I wish I could say that was me in the Telmex BMW there, but it ain't.  I did take the photo however.  In fact I took all of the photos
                that you see on this site.</p>
            <p>I've been described as equal parts computer nerd and equal parts people person.</p>            
        </div>
    </div>
    <h2><i class="fa fa-camera"></i> Photos</h2>
    <hr style="border-top: 1px solid #000;">
    <div class="row">
    <tmh-widget-image-block ng-repeat="info in blockInfos" info="info"></tmh-widget-image-block>
    </div>
</div>
