/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2015, 8:56:57 PM
    Author     : User
*/

body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    position: relative;
    min-height: 100%;
    padding-bottom: 15rem;
    background-color: #F3F3F3;
}

html {
    box-sizing: border-box;
    height: 100%;
}

header {
    font-family: monospace;
    font-size: 1em;    
}

.widget-info-box {

}

.opacity-100 {
    opacity: 1;
}

.opacity-75 {
    opacity: .75;
}

.widget-info-box-glyphicon {
    text-align: center;
    color: #74A07B;
    font-size: 5em;
}

.widget-info-box-title {
    background-color: #E4E4E4;
    text-align: center;
    color: #000;
    padding: 5px;
    border-radius: 0px;
    border: 1px solid #000;
    border-right: 0px;
    border-left: 0px;    
}

.widget-info-box-content {
    /*background-color: green;*/
}

.top-bottom-border {
    border: 1px solid #000;
    border-left: 0px;
    border-right: 0px;
}

.navbar-default {
    background-color: white;
}

.purpose {
    font-size: 1.2em;
    background-color: white;
    color: #881111;
}

.navbar {
    border: none;
    border-radius: 0;
}

.contact-label {
    font-size: .8em;
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        margin:auto;
        width: 310px;
        float: none;
    }
    .purpose {
        margin: 10px;
    }
    .header-image {
        min-height: 500px;
        display: block;
        margin: 0px auto 0px auto;
    }
}

@media screen and (max-width: 768px) {
    .purpose {
        margin: 0px;
    }
    .header-image {
        height: auto;
        width: 100%;
        margin-top: 50px;
    }      
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #4A4A4A;
    text-align: center;
    color: white;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav > .active > a {
    color: white;
    /*background-color: black;*/
}

.view-animate-container {
    /*position:relative;*/
}

.view-animate {

}

.view-animate.ng-enter, .view-animate.ng-leave {
    display:block;
    width:100%;

    position:absolute;
    /*    top:0;
        left:0;
        right:0;
        bottom:0;*/
}

.view-animate.ng-enter {
    animation: fadein .2s linear;
}

.view-animate.ng-leave {
    animation: fadeout .2s linear;
}

.red {
    color: red;
}

.green {
    color: green;
}


.photo_caption {
    font-size: .8em;
    border-top: 2px solid black;
    bottom: -100%;
    /*display: none;*/
    width: 100%;
    background-color:rgba(0,0,0,0.6);
    color: white;
    padding: 15px;
    position: absolute;
}

.photo_container:hover > .photo_caption {
     bottom: 0%;
}

.photo_container:hover > .scale-up {
     transform: scale(1.1,1.1);
}


/* Fade in/out animations */

@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}

@keyframes fadeout {
    from { opacity:1; }
    to { opacity:0; }
}

@-webkit-keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}

@-webkit-keyframes fadeout {
    from { opacity:1; }
    to { opacity:0; }
}

/* collapse up/down animations */

@keyframes expand {
    from { height:0px; }
    to { height:100px; }
}

@keyframes collapse {
    from { height:100px; }
    to { height:0px; }
}

@-webkit-keyframes expand {
    from { height:0px; }
    to { height:100px; }
}

@-webkit-keyframes collapse {
    from { height:100px; }
    to { height:0px; }
}

.powered_by_image {
    height: 30px;
    margin: 0 5px;
}

.image-block-panel {
    background-color: #DCDCDC;
}

.photo {
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .photo {
        height: 300px;
    }
}

@media screen and (min-width: 992px) {
    .overview_github {
        height: 400px;
    }
    .photo {
        height: 370px;
    }    
}

@media screen and (min-width: 1200px) {
    .overview_github {
        height: 375px;
    }    
    .photo {
        height: 450px;
    }       
}


.transition-100 {
    transition: all .1s;
    -webkit-transition: all .1s;
}

.transition-250 {
    transition: all .25s;
    -webkit-transition: all .25s;
}

.transition-500 {
    transition: all .5s;
    -webkit-transition: all .5s;
}

.transition-1000 {
    transition: all 1s;
    -webkit-transition: all 1s;
}

.modal-backdrop {
    height: 100%;
    width: 100%
}

.pointer {
    cursor: pointer;
}

/* Convenience classes for padding */

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-25 {
    padding: 25px;
}

/* Convenience classes for margins */

/* Top margin */
.m-t-sm {
    margin-top: 5px;
}

.m-t-md {
    margin-top: 10px;
}

.m-t-lg {
    margin-top: 20px;
}

/* Bottom margin */
.m-b-sm {
    margin-bottom: 5px;
}

.m-b-md {
    margin-bottom: 10px;
}

.m-b-lg {
    margin-bottom: 20px;
}

/* Left margin */
.m-l-sm {
    margin-left: 5px;
}

.m-l-md {
    margin-left: 10px;
}

.m-l-lg {
    margin-left: 20px;
}

/* Right margin */
.m-r-sm {
    margin-right: 5px;
}

.m-r-md {
    margin-right: 10px;
}

.m-r-lg {
    margin-right: 20px;
}