<tmh-widget-top-image image="'torres_full3.jpg'" overlay-text="" overlay-style="{'color':'white', 'top': '85%', 'left':'85%'}"></tmh-widget-top-image> 
<div class="container">
      <div class="row small">
        <div class="col-md-4">
          <h2>Why are we here?</h2>
          <p>This site is my playground.  In my corporate life I spend my time day in and day out creating sites for internal clients that never get to be seen by the world.  But here, I can play and be seen! </p>
        </div>
        <div class="col-md-4">
          <h2>Who am I?</h2>
          <p>Perhaps you're here just to learn a little more about the man behind the scenese here - Kevin Holmes.  If that's the case, then head on over to my 'About Me' page and learn a 
          	little more about me.</p>
          <p><a href="#/about">Go &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Résumé</h2>
          <p>If you're a potentail employer, I don't want you searching far and wide for my latest résumé.  So here it is.</p>
          <div class="pull-left text-center pointer" ng-click="openResume()">
            <i class="fa fa-2x fa-list-alt"></i>
            <div>In Pop-up<br>Window</div>
          </div>
          <div class="pull-left m-l-lg text-center pointer" ng-show="false">
            <i class="fa fa-2x fa-file-word-o"></i>
            <div>Word</div>
          </div>
          <a href="resume.pdf" style="color: black;">
          <div class="pull-left m-l-lg text-center">
            <i class="fa fa-file-pdf-o fa-2x"></i>
            <div>PDF</div>
          </div>
        </a>
        </div>
      </div>
</div>
<!--</div>-->
