<tmh-widget-top-image image="'torres_full3.jpg'" overlay-text="" overlay-style="{'color':'white', 'top': '85%', 'left':'85%'}"></tmh-widget-top-image> 
<div class="container">
    <p>What can I say here, other than this site really has no deeper meaning beyond what you see. Its sole purpose is to act as a showcase and playground for my web development skills.
        Though I will say that every photo you see on this site was taken by me.  I dabble in photography too, so what the hell, right?  Thanks for visiting!
    </p>
    <p>
        - Kevin Holmes
    </p>
</div>
<!--</div>-->
