<tmh-widget-top-image image="'lightning_full.jpg'" overlay-text="'About This Site'" overlay-style="{'color':'black', 'background-color': 'white'}"></tmh-widget-top-image>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="overview_github padding-10" style="background-color: #2b669a; color: white;">
                <h1>Site Overview</h1>
                <p>This site was built using the Angular.js single page application (SPA) framework. Upon initial display, index.html is loaded along with all
                    its Javascript dependencies.  As you navigate from page to page, index.html remains as the underlying framework for the page, but the content (html
                    templates, images, etc...) is loaded dynamically via Ajax calls, all of which is handled by Angular and its routing methods.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="visible-xs visible-sm" style="height: 20px"></div>
            <div class="overview_github padding-10" style="background-color: grey; color: white; font-size: .85em;">
                <h2>GitHub <i class="fa fa-github"></i></h2>
                <p>All of the code for this site can be viewed on GitHub. I develop locally on my home Windows machine and deploy using Git to my Linux web host.
                    So what you see here on techmeholmes.com as well as anything in the Samples links should match exactly to what's in my GitHub repos.</p>
                <p><a href="https://github.com/semlohnivek" target="_blank" style="color: white; text-decoration: underline;">Kevin Holmes on GitHub</a></p>
            </div>
        </div>        
    </div> 
</div>
<div class="alert-danger" style="margin: 20px 0 20px 0;" ng-if="false">
    <div class="container" style="text-align: center;">
        <h2><i class="fa fa-exclamation-triangle"></i> WARNING <i class="fa fa-exclamation-triangle"></i></h2>
        <p>
            Nerd-oriented content ahead! 
        </p>
    </div>
</div>
<br>
<div class="container padding-25">
    <div class="row well">
        <div class="col-md-4">
                <img  ng-src="{{imageRoot}}/AngularJS-large.png" class="img-responsive" style="height: 100px;">
        </div>
        <div class="col-md-8">
                <tmh-widget-site-feature title="'Single Page Application'">
                    This entire site is built around the Angular.js SPA (Single Page Application) framework.  
                </tmh-widget-site-feature>
                <tmh-widget-site-feature title="'Custom Directives'">
                    The page header and footer, the images blocks (with pop-up captions) on the "About Me" page, even this list
                    of site features, are all custom directives.  Arguably the most powerful tool within the Angular.js framework,
                    they make the page markup immensely easier to read as well as promoting code reuse.
                </tmh-widget-site-feature>
        </div>
    </div>
    <hr>
    <div class="row well">
        <div class="col-md-4">
                    <img ng-src="{{imageRoot}}/Boostrap_logo.svg.png" class="img-responsive" style="display: inline-block;">
                    <span style="font-size: 2em;  display: inline-block; vertical-align: bottom;"> Bootstrap</span>
        </div>
        <div class="col-md-8">
                <tmh-widget-site-feature title="'Responsive Design'">
                    The Bootstrap grid system is used to allow this site to expand and contract to nearly any viewport size while
                    maintaining readability.
                </tmh-widget-site-feature>
        </div>
    </div>
    <hr>
    <div class="row well">
        <div class="col-md-4">
                <img ng-src="{{imageRoot}}/524px-JQuery_logo.svg.png" class="img-responsive" style="display: inline-block; height: 50px;">
        </div>
        <div class="col-md-8">
                <tmh-widget-site-feature title="'DOM maninpulation &amp; effects'">
                    Though the "Angular way" professes little to no need for direct DOM manipulation or jQuery effects, I tend to disagree
                    on occasion.  I still find animation effects (such as the caption slide up and down on an image) to be easily
                    accomplished with jQuery, while the same effect using Angular animation tactics is tedious and overly laborious.
                </tmh-widget-site-feature>
        </div>
    </div>
</div>
