<tmh-widget-top-image image="'moon2.jpg'" text="'Contact'" overlay-text="'Contact'" overlay-style="{'color':'white','background-color': '#888888'}"></tmh-widget-top-image>
<style>
   .contact-page .error-container .error {
       color: red;
       border-color: red;
   }
</style>
<div class='container contact-page'>
<!--    <div class='row'>
        <div style="width: 100%; text-align: center; margin-bottom: 20px; font-size: 2em;">
            <p>Contact Me</p>
        </div>
    </div>-->
    <form class="form-horizontal" name="contactForm" novalidate>
        <div class="form-group" ng-class="{'has-error': ((contactForm.$submitted || contactForm.inputFirstName.$touched) &&  (contactForm.inputFirstName.$error.required)) }">
            <div class="col-sm-offset-2 col-sm-8">
                <label for="inputFirstName" class="control-label contact-label error">First Name</label>                
                <input type="text" class="form-control error" id="inputFirstName" name="inputFirstName" ng-model="formData.first" required="" autofocus />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <label for="inputLastName" class="control-label contact-label">Last Name</label> 
                <input type="text" class="form-control" id="inputLastName" name="inputLastName" ng-model="formData.last" />
            </div>
        </div>        
        <div class="form-group" ng-class="{'has-error': ((contactForm.$submitted || contactForm.inputEmail.$touched) && (contactForm.inputEmail.$error.required || contactForm.inputEmail.$error.email)) }">
            <div class="col-sm-offset-2 col-sm-8">
                <label for="inputEmail" class="control-label contact-label">Email Address</label> 
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" ng-model="formData.email" required="" />
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': ((contactForm.$submitted || contactForm.inputMessage.$touched) && (contactForm.inputMessage.$error.required)) }">
            <div class="col-sm-offset-2 col-sm-8">
                <label for="inputMessage" class="control-label contact-label">Message</label> 
                <textarea class="form-control" rows="8" id="inputMessage" name="inputMessage"  ng-model="formData.message" required=""></textarea>
            </div>
        </div>    
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="!contactForm.$valid || !ready">
                    <i ng-class="{fa: true, 'fa-envelope': ready, 'fa-spinner': !ready, 'fa-pulse': !ready}" ></i> Send
                </button>
            </div>
        </div>
        <div class="form-group" ng-show="showMessageSentAlert">
            <div class="col-sm-offset-2 col-sm-4">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" ng-click="showMessageSentAlert = false;" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="glyphicon glyphicon-ok-circle"> </span> Your message was sent. Thank you!
                </div>
            </div>
        </div>        
    </form>
</div>
